.typewrite {
  color: rgba(148, 148, 148, 0.849);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.15em;
}

/* Ensure to style the wrap as necessary */
.typewrite > .wrap {
  border-right: 0.08em solid #fff;
}
